body {
  padding: 10px;
  font-family: sans-serif;
}

.flexiboard {
  display: flex;
  background-color: red;
  height: 100%;
}

.flexiboard > div {
  margin: 10px;
  height: 200px;
  width: 150px;
  background-color: grey;
}
.butto {
  width: 50%;
  transform: translateX(50%);
  margin: auto;
}
.modal {
  width: 100vh;
  height: 100vh;
  position: absolute;
  background-color: black;
}
.create {
  background-color: bisque;
  top: 10%;
  height: 80vh;
  width: 100%;
}